@font-face {
  font-family: "Pink_Chicken";
  src: url(/assets/PinkChicken-Regular.ttf);
}
body {
  font-family: "Pink_Chicken";
}
#CaliforniaIcon img {
  width: 44%;
}
.Main_Banner {
  background-image: url(/assets/winter6.jpg);
  height: 40vh;
  background-size: cover;
}
