@font-face {
  font-family: "Pink_Chicken";
  src: url(/assets/PinkChicken-Regular.ttf);
}
body {
  font-family: "Pink_Chicken";
}
.weatherIcon img {
  width: 44%;
}
.Main_Banner {
  background-image: url(/assets/winter6.jpg);
  height: 40vh;
  background-size: cover;
}
.swal-modal{
  background-color: #2b3035;
}
.swal-title , .swal-text , .swal-button{
  color: #fff;
  letter-spacing: 2px;
}
.swal-button{
  color: #000;
  letter-spacing: 2px;
}